:global {
	.file-drop-target {
		height: 100%;
		width: 100%;
	
		display: flex;
		flex-direction: column;  
		align-items: center;
		justify-content: flex-end;
	}
	
	.file-drop-target.file-drop-dragging-over-frame {
		border: none;
		background-color: rgba(0, 0, 0, 0.65);
		box-shadow: none;
		z-index: 50;
		opacity: 1;
	}
	
	.file-drop-target.file-drop-dragging-over-target {
		color: #ff6e40;
		box-shadow: 0 0 13px 3px #ff6e40;
	}
}