.input-area {
	position: relative;
	height: 300px;
	width: 100%;
	padding: auto;
	border: solid 2px #f5f5f5;
	border-radius: 5px;
	overflow: hidden;

	@media screen and (min-width: 480px) {
		width: 450px;
	}

	&__prompt,
	&__file {
		opacity: 0.8;
		background-color: #6f658b;
	}

	&__loaded-text {
		position: absolute;
		top: 5px;
		left: 5px;
		text-align: left;
		opacity: 0.4;
	}
}
