.material-inventory {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	max-width: 984px;
	margin: 0 auto;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
